Package: com.creativitykills.bbmcallconfirm
Name: BBMCallConfirm
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Brings up a pop-up confirmation when you hit the call button on BBM.
Maintainer: Neo Ighodaro <neo@creativitykills.co>
Author: Neo Ighodaro <neo@creativitykills.co>
Section: Tweaks
